.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#5C58BB,#BE57CE);
}

.title{
    font-size: 85px;
    color: #e45b9b;
    animation: fliptitle 2s;
}

@keyframes fliptitle {
    from{
        transform: rotateX(90deg);
    }
    to{
    transform: rotateX(0deg);
    }

}

.containerInput{
    background-color:rgba(#5C58BB,#e45b9b, #5C58BB, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow:1px 3px 8px rgba(0,0,0, 0.5);
}

.containerInput input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #e45b9b ;
    overflow: none;
    margin-right: 8px;
}

.containerInput input ::placeholder{
    color: #5C58BB;
}
